@model Rationality.Models.AccountViewModels.RegisterEmailViewModel
@{
    ViewData["Title"] = "Register";
}


<body background="~/img/back.png" style="background-size: 100%">

<section class="sign-up">
    <div class="sign-up-block">
        <div class="card">
            <div class="card-body">
                <form class="inp-two" asp-controller="Account" asp-action="RegisterEmail" asp-route-returnurl="@ViewData[" ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <b>Как Вас зовут?</b>
                    <div class="row mb-3">
                        @*<label asp-for="UserName" class="col-md-2 control-label"></label>*@
                        <div class="col-sm-10">
                            <input asp-for="UserName" type="text" class="form-control" aria-label="First name" placeholder="Андрей Лаптандер">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <b>Ваш Email</b>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input asp-for="Email" type="email" class="form-control" id="inputEmail3" placeholder="your@email.ru">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <b>Придумайте пароль</b>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input asp-for="Password" type="password" class="form-control" id="inputPassword3">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <b>Повторите пароль</b>
                    <div class="row mb-3">
                        <div class="col-sm-10">
                            <input asp-for="ConfirmPassword" type="password" class="form-control" id="inputPassword3">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="cont">
                        <button type="submit" class="click btn btn-primary">Продолжить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
