<div class="wrapper">
    <section class="home-products">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="ran-block">
                        <h1>Сегодня</h1>
                        <button class="rand-day">
                            <a href="">Поменять</a>
                            <img src="~/img/random.png">
                        </button>
                    </div>
                    <div class="products-wrapper">
                        <div class="card bg-dark text-white">
                            <div class="pr-img">
                                <img src="~/img/breakfast.jpg" class="card-img" alt="breakfast">
                            </div>
                            <div class="card-img-overlay">
                                <div class="block-txt-up">
                                    <h5 class="card-title">Завтрак</h5>
                                    <a href="">Посмотреть</a>
                                </div>
                                <div class="block-txt-down">
                                    <a href="recipe.html" class="card-title">Овсянка</a>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <div class="pr-img">
                                <img src="~/img/breakfast.jpg" class="card-img" alt="breakfast">
                            </div>
                            <div class="card-img-overlay">
                                <div class="block-txt-up">
                                    <h5 class="card-title">Обед</h5>
                                    <a href="">Посмотреть</a>
                                </div>
                                <div class="block-txt-down">
                                    <a href="" class="card-title">Овсянка</a>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-dark text-white">
                            <div class="pr-img">
                                <img src="~/img/breakfast.jpg" class="card-img" alt="breakfast">
                            </div>
                            <div class="card-img-overlay">
                                <div class="block-txt-up">
                                    <h5 class="card-title">Ужин</h5>
                                    <a href="">Посмотреть</a>
                                </div>
                                <div class="block-txt-down">
                                    <a href="" class="card-title">Овсянка</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="block-txt">
                                <h5>Перекус</h5>
                            </div>
                            <div class="row">
                                <div class="sneck-wrapper">
                                    <div class="sneck card bg-dark text-white">
                                        <div class="pr-img">
                                            <img src="~/img/breakfast.jpg" class="card-img" alt="breakfast">
                                        </div>
                                        <div class="card-img-overlay">
                                            <div class="block-txt-up">
                                                <a href="">Посмотреть</a>
                                            </div>
                                            <div class="block-txt-down">
                                                <a href="" class="card-title">Овсянка</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
</div>
