@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h2>Mockups</h2>

<ul>
    <li><a asp-action="Settings">Settings</a></li>
    <li><a asp-action="Days">Days</a></li>
    <li><a asp-action="Money">Money</a></li>
    <li><a asp-action="Parameters">Parameters</a></li>
    <li><a asp-action="Products">Products</a></li>
    <li><a asp-action="recipe">Recipe</a></li>
    <li><a asp-action="Signin">SignIn</a></li>
</ul>