<body background="img/back.png" style="background-size: 100%">
    <section class="money">
        <div class="money-block">
            <div class="card">
                <div class="card-body">
                    <form class="inp-finish">
                        <b>Ваш бюджет на неделю (в рублях)</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Ваш минимум 1000">
                            </div>
                        </div>
                        <div class="finish">
                            <button type="submit" class="click btn btn-primary">Начать!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>