<body background="img/back.png" style="background-size: 100%">
    <section class="parameters">
        <div class="parameters-block">
            <div class="card">
                <div class="card-body">
                    <form class="inp-three">
                        <b>Сколько Вам лет?</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="16">
                            </div>
                        </div>
                        <b>Ваш пол</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <select id="inputState" class="form-select">
                                    <option selected>Женский</option>
                                    <option>Мужской</option>
                                </select>
                            </div>
                        </div>
                        <b>Ваш вес (в килограммах)</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="70">
                            </div>
                        </div>

                        <b>Ваш рост (в сантиметрах)</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="160">
                            </div>
                        </div>
                        <b>Ваша цель</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <select id="inputState" class="form-select">
                                    <option selected>Сбросить вес</option>
                                    <option>Остаться в весе</option>
                                    <option>Набрать вес</option>
                                </select>
                            </div>
                        </div>
                        <b>Ваш уровень физической активности</b>
                        <div class="row mb-3">
                            <div class="col-md-10">
                                <select id="inputState" class="form-select">
                                    <option selected>Минимальный</option>
                                    <option>Слабый</option>
                                    <option>Умеренный</option>
                                    <option>Тяжёлый или трудоёмкий</option>
                                    <option>Экстримальный</option>
                                </select>
                            </div>
                        </div>
                        <div class="cont-two">
                            <button type="submit" class="click btn btn-primary">Продолжить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>