<div class="wrapper">
    <section class="products-list">
        <div class="container">
            <div class="pr-wrap">
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-wrap-down">
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pr-wrap-down">
                <div class="card">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>Сегодня</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="week">
                    <div class="card-body">
                        <div class="block-txt">
                            <h5>На неделю</h5>
                        </div>
                        <div class="block-pr card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                        <div class="block-pr-down card">
                            <div class="card-body">
                                <h6>Гречка</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>