<div class="wrapper">
    <section class="resipe-page">
        <div class="container">
            <div class="res-wrap">
                <div class="card">
                    <div class="card-body">
                        <h1>Овсянка</h1>
                        <div class="img-wrap">
                            <div class="block-img card">
                                <div class="card-body">
                                    <div class="res-img">
                                        <img src="~/img/breakfast.jpg" alt="breakfast">
                                    </div>
                                </div>
                            </div>
                            <div class="block-cal card">
                                <div class="card-body">
                                    <div class="cal-food-block">
                                        <h4>Параметры</h4>
                                    </div>
                                    <h5>Энергетическая ценность:</h5>
                                    <h5>Белки:</h5>
                                    <h5>Жиры:</h5>
                                    <h5>Углеводы:</h5>
                                    <h5>Стоимость:</h5>
                                </div>
                            </div>
                            <div class="block-food card">
                                <div class="card-body">
                                    <div class="up-food-block">
                                        <h4>Ингредиенты</h4>
                                    </div>
                                    <h5>Овсяные хлопья 100г</h5>
                                    <h5>Молоко 250мл</h5>
                                    <h5>Вода 250мл</h5>
                                    <h5>Сливочное масло 15г</h5>
                                    <h5>Банан 50г</h5>
                                </div>
                            </div>
                        </div>
                        <div class="cook">
                            <h4>Способ приготовления</h4>
                            <h6>
                                chfbhjbfd cvlbdfb hbvfbdlb hu isdbvd hdgfyuevfa auebfa eauolfbalbl bfyewoabvabv ueaobf
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>