<body background="img/back.png" style="background-size: 100%">
    <section class="sign-in">
        <div class="sign-in-block">
            <div class="card">
                <div class="card-body">
                    <form class="inp">
                        <b>Введите свой Email</b>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail3" placeholder="your@email.ru">
                            </div>
                        </div>
                        <b>Введите свой пароль</b>
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <a href="signup.html">У меня нет аккаунта</a><br>
                        <div class="click">
                            <button type="submit" class="click btn btn-primary">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>